PORT=9999;
MONGO_URL=URL;
SMTP_HOST=host;
SMTP_PORT=9999;
SMTP_USER=user;
SMTP_PASSWORD=password;
SMTP_FROM=from;
JWT_SECRET=secret;
FRONTEND_DOMAIN=yourDomain;
CLOUDINARY_API_KEY=key;
CLOUDINARY_API_SECRET=secret;
CLOUDINARY_CLOUD_NAME=name;
